			@import url(http://weloveiconfonts.com/api/?family=entypo);
			/* entypo */
			[class*="entypo-"]:before {
	 			font-family: 'entypo', sans-serif;
 		 		
			}

			body{
				font-family: "Montserrat",arial,serif;
			}
			body{
				color: #3a3a3a;
				font-size: 12px;
				line-height: 1.55;
				letter-spacing: 1.22px;
			}


			strong{
				font-weight: 700;
			}

			img{
				max-width: 100%;
				height: auto;
				border:1px solid #e6e6e6;
			}

			a{
				color: #5d83de;
				text-decoration: none;
				transition:0.3s;
			}

			a:hover{
				color: #3343d2;
				transition:0.3s;
			}

			i{
				font-style: normal;
			}

			.wrapper{
				top:0px;
				margin-top:-16px;
				margin-left:-10px;
				margin-right:-10px;

			}

			

			

			/*******body******/
			.body{
				margin-top: 20px;
				width:1200px;
				min-height: 400px;
				float:left;
			}

			.body-wrapper{
				margin:0 auto;
				width:1200px;

			}

			.body .page-title{
				text-align: center;
				padding: 0 15px;

			}





			.body .buttons-set{
				text-align: center;
				background-color: #ececec;
				padding: 15px 25px;
			}

			.body .buttons-set .btn-button{
				margin: 0 0 10px;
				text-transform: uppercase;
				cursor: pointer;
				background-color: #15a63a;
				color: #fff;
				border: solid 2px #369844;
				display: inline-block;
				font-size: 12px;
				line-height: 20px;
				height: auto !important;
				padding: 14px 26px;
				font-weight: bold;
				position: static;
				overflow: hidden;
				outline: none;
				text-shadow: none;
				text-decoration: none;
				vertical-align: middle;
				letter-spacing: 1px;
				max-width: 100%;
				transition:0.15s;
			}

			.body .buttons-set .btn-button:hover{
				transition:0.15s;
				background-color: #17ce41;
				border: solid 2px #17ce41;
				color: #fff;
			}

			.buttons-set p{
				line-height: 24px;
				font-weight: bold;
			}

			.table-container{
				margin: 0 auto;
				margin-top: 20px;
				width: 80%;

			}

			.table-container table{
				width: 100%;
				font-size:16px;
				margin-top: 50px;
			}

			table .btn-mini{
				font-size:23px;
				padding-right: 3px;
				padding-left: 3px;


			}

			table .entypo-trash{
				color: #cc3939;
			}

			table .entypo-trash:hover{
				color: #f45050;
			}

			table .entypo-pencil{
				color: #4653c9;
			}

			table .entypo-pencil:hover{
				color: #6877ff;
			}


			.btn-add{
				width: 30px;
			    height: 30px;
			    position: absolute;
			    top: 140px;
			    right: 200px;

			   	background-color: #15a63a;
			    font-size: 30px;
			    border: 3px solid #fff;
			    box-shadow: none;
			    cursor: pointer;
			    color: white;
			    text-align: center;
			    padding-bottom: 13px;
			    padding-left: 8px;
			    padding-right: 8px;
			    text-decoration: none;
			    transition: 0s;
			}

			.btn-add:hover{
				border: solid 3px #2dce4a;
				background-color: #2dce4a;
				transition: 0.1s;
				color: white;
			}

