			


			body .checkout-overlay{
				font-family: "Montserrat",arial,serif;
			}
			body .checkout-overlay{
				color: #3a3a3a;
				font-size: 12px;
				line-height: 1.55;
				letter-spacing: 1.22px;
			}


			.checkout-overlay{
				padding-bottom:10px;
				margin-left: -8px;
				position: fixed;
				z-index: 13;
				width:100%;
				height: 100%;
				background: rgba(0,0,0,0.7);
				
				
				
				
			}



			

			.checkout-overlay .checkout-header img{
				width:150px;
				height: auto;
				border:0;
			}

			.checkout-overlay .checkout-header{
				background: rgba(0,0,0,0.85);
				padding: 1.5em 0;
				display: block;
				padding-top:30px;
				width:65%;
				float:left;

			}
			.checkout-overlay .logo-container{
				padding-left: 10%;
				width: 70%;
				max-width: 78.57143em;
			}

			@import url(https://fonts.googleapis.com/css?family=Roboto:400,900,700,500);

			.checkout-overlay .checkout-body-wrapper{
				width:65%;
				background-color: rgba(0,0,0,0.85);

				float:left;
				padding-bottom: 100px;

			}

			.checkout-overlay .checkout-body {
				padding: 40px 0px;
				width:430px;
				margin:0 auto;

			}

			.checkout-overlay .checkout-body-text {
			
				font-family: "Roboto";
				font-size: .9em;
				color: #fff;
			}


			.checkout-overlay .form-container {
				float:left;

				width: 400px;
				border:0;
				background: #eee;
				padding:0 15px;
				padding-bottom: 10px;
			}
			.checkout-overlay .card-wrapper {
				background-color: #fff;
				width: 100%;
				padding: 10px 0px;
			}
			.checkout-overlay .personal-information {
				background-color: #eee;
				padding: 1px 0px;
				text-align: center;
			}
			.checkout-overlay h1 {
				font-size: 1.3em;
				font-family: "Roboto"
			}
			.checkout-overlay input {
				margin: 1px 0px;
				border:none;
				border-bottom: 1px solid #ddd;
				border-radius:4px;
			}
			.checkout-overlay input[type="text"], input[type="email"]{
				display: block;
				height: 40px;
				width: 387px;
				padding-left: 10px;
			}
	


			.checkout-overlay .bottom-container{
				background:#e6e6e6;
				width:100%;
				padding:20px 0;
				float:left;
			}


			.checkout-overlay #column-left {
				width: 185px;
				float: left;
				margin-bottom: 2px;
			}
			.checkout-overlay #column-right {
				width: 188px;
				float: right;
			}

			.checkout-overlay .btn-submit{
				display: block;
				height: 60px;
				width: 140px;
				background-color: #15a63a;
				color: #fff;
				
				cursor: pointer;
				font-size: 13px;
				letter-spacing: 2px;
				text-transform: uppercase;
				font-weight: bold;
				border-radius: 0;
				float:right;
				margin-right: 30px;
			}

			.checkout-overlay .btn-submit:hover{
				background-color: #17ce41;
				transition: 0.3s ease;
			}

			.checkout-overlay .btn-paypal{
				float:left;
				width:auto;
				height:30px;
				margin-left: 40px;
				margin-top: 14px;
				cursor: pointer;
				transition: 0.2s;
			}

			.checkout-overlay .btn-paypal:hover{
				padding:0.5%;
				transition: 0.2s;

			}

			.gradient-seperator{
				width:1%;
				top:0;
				height:100%;
				float:left;
				background: linear-gradient(to right, rgba(0,0,0,0.85) , rgba(0,0,0,0));
				margin-top: -110px;
			}

			.cancel-button-container{
				width:10%;
				height: auto;
				float:right;

			}

			.cancel-button-container a{
				color:#4d4d4d;
				font-size: 36px;
				cursor: pointer;
			}


			.cancel-button-container a:hover{
				color:#bbb;
				
			}

