

/******header******/
			

			.header{
				height:70px;
				width:100%;
				background-color: #2b2b2b;
				opacity: 0.985;
				position: fixed;

				float:left;
				padding-right:2px;
				z-index: 10;
			}


			div.logo-container{
				margin-top: 6px;
				height:64px;
				
				float:left;
				margin-left: 76px;

			}

			.header .logo-container img{
				border:0;
				width:auto;
				max-height: 90%;
				margin-top: 4px;
			}

			div.left-menu{
				
				float:left;
				margin-top: -4px;
			}

			.left-menu li span{
				display: block;
				content: '';
				height:5px;
				margin:0 auto;
				margin-top:16px;
				width:0px;
				
				transition: 0.3s;

			}

			div.left-menu li a:hover span.underline{
				transition:0.3s;
				background:#e6e6e6;
				width:28px;
				margin:0 auto;
				margin-top:16px;
			}


			

			div.left-menu li a{
				float:left;
				display: block;
				height: 22px;
				width: auto;
				
				color:#e6e6e6;
				padding: 20px 22px;
				text-decoration: none;
				text-align: center;
				font-size: 14px;
				font-weight: bold;
				line-height: 1.5;
				
			}

			div.right-menu{
				float:right;
				margin-top: -4px;
				cursor:default;
			}
			

			div.right-menu li span.span-inline{
				float:right;
				display: block;
				height: 22px;
				width: auto;
				color: #cccccc;
				padding: 20px 22px;
				text-decoration: none;
				text-align: center;
				border-left: 1px solid #cccccc;
				font-size: 20px;
				font-weight: bold;
				line-height: 1.2;
				
			}

			span.firstname{
				padding-left: 12px;
				text-transform: capitalize;
				font-size: 16px;

			}

			.left-menu li{
				height: 50px;
				display: inline;
				cursor:pointer;
			}

			.right-menu li.inline{
				display: inline;
				height: 50px;
			}


			/**************************/
			/******drop down menu******/
			


			.switcher-content{
				background: #ffffff;
				padding: 20px;
				text-align: left;
				margin: 0;
				width: 230px;
				overflow: hidden;
				font-size: 12px;
				line-height: 25px;
				text-transform: uppercase;
				border-top: 0;
				border: #dcdcdc solid 1px;
				min-width: 70px;
				color: #181818;
				font-weight: 700;

			}

			.switcher-content-menu{
				top: 80px;
				right: 0;
				position: absolute;	
				opacity:0;
				visibility: hidden;
			}

			.right-menu .li-menu:hover .switcher-content-menu{
				opacity:1;
				transition:0.3s;
				top:70px;
				visibility: visible;
			}

			.switcher-content-menu .switcher-content ul li a{
				color:#243744;
			}

			.switcher-content-menu .switcher-content ul li a:hover{
				color:#4f7a96;
			}

			.switcher-content-basket{
				top: 80px;
				right: 40px;
				position: absolute;	
				opacity:0;
				visibility: hidden;
			}

			.right-menu .li-basket:hover .switcher-content-basket{
				opacity:1;
				transition:0.3s;
				top:70px;
				visibility: visible;
			}


			

			.input-group{
				display: table;
				border-collapse: separate;
				position: relative;

			}

			.switcher-content ul.links{
				padding-bottom: 20px;
				border-bottom: 1px solid #e6e6e6;
				list-style: none outside none;


			}

			.switcher-content ul li{

				list-style: none;
				padding: 0;
				margin: 0;
				
			}

			.switcher-content ul li a{
				font-size: 13px;
				line-height: 23px;
				text-transform: uppercase;
				text-decoration: none;
				color: #243744;
				font-weight: 750;

			}

			.switcher-content .block-currency{
				padding: 25px 0;
			}

			.title-selector{
				margin-bottom: 6px;
			}

			.block-currency .title-selector span{
				color: #696969;
				font-weight: 750;
				font-size: 13px;
				margin-left: 38px;
			}


			.block-currency ul li{
				float: left;
				position: relative;
				margin-right: 10px;
				padding-bottom: 10px;
			}

			.block-currency ul li a{
				width: 30px;
				font-size: 13px;
				line-height: 25px;
				font-weight: 750;

			}

			.selected a::after{
				display: block;
				content: '';
				position: absolute;
				width:22px;
				height:2.5px;
				right:6px;
				top:30px;
				background-color:#181818;
				
			}

			/**************************/
			/**************************/